.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

#mouse-pointer {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2ed06e;
    mix-blend-mode: difference;
    pointer-events: none;
}

.hidden {
    overflow: hidden;
}

.container {
    overflow: hidden;
}

/* .sc-tit {
    line-height: 1;
} */

.inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.side-nav .nav-list {
    z-index: 1;
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.side-nav .nav-item {
    overflow: hidden;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    text-indent: -9999px;
    cursor: pointer;
    transition: ease all .3s;
    background-color: #f2f2f2;
}

.side-nav .nav-item.on {
    height: 30px;
    background-color: #2ed06e;
}

br {
    content: "";
    display: inline-block;
    padding: 0 2px;
}


@media screen and (max-width: 960px) {
    .inner {
        padding: 0 30px;
    }

    .side-nav .nav-list {
        right: 5px;
    }

}