.sc-home {
    position: relative;
    width: 100%;
    height: 100vh;
}

.sc-home .bg1 {
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30vw;
    transform: translate(-20%, 0);
}

.sc-home .bg2 {
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
}

.sc-home .bg3 {
    position: absolute;
    right: 0;
    width: 22vw;
    transform: translate(-20%, 10%) rotate(30deg);
}

.sc-home .text-area {
    z-index: 5;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sc-home .text-area .main-tit {
    text-align: center;
    font-size: 6.5rem;
}

.sc-about {
    height: 100vh;
}

.sc-about .group-about .sc-tit {
    margin-bottom: 80px;
    font-size: 3.75rem;
    text-transform: uppercase;
}

.sc-about .group-about .text-area {
    display: flex;
    flex-direction: column;
    width: 92.3%;
    gap: 15px;
}

.sc-about .group-about .text-area .desc {
    line-height: 1.8;
    font-size: 1.125rem;
}

.sc-project {
    position: relative;
    padding-top: 30px;
}

.sc-project .bg2 {
    z-index: -1;
    position: absolute;
}

.sc-project .project-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.sc-project .project-item {
    display: flex;
}

.sc-project .project-item:nth-child(even) {
    justify-content: flex-end;
}

.sc-project .project-item .project-wrap {
    width: 70%;
}

.sc-project .project-item .project-wrap .link {
    position: relative;
    display: block;
    padding-bottom: 100%;
}

.sc-project .project-item .project-wrap .link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    mix-blend-mode: difference;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s cubic-bezier(1, 0.35, 0, 0.95);
}

.sc-project .project-item .project-wrap .link:hover::after {
    transform-origin: top;
    transform: scaleY(1);
}

.sc-project .project-item .project-wrap .link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sc-project .project-item .desc-box {
    margin: 20px 0 30px;
}

.sc-project .project-item .desc-box .title {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 2.375rem;
}

.sc-project .project-item .desc-box .desc {
    line-height: 150%;
    font-size: 1.125rem;
}

.sc-project .project-item .link-velog {
    display: inline-block;
    padding: 8px 15px;
    font-size: .75rem;
    border-radius: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.sc-project .project-item .link-velog:hover {
    border: 1px solid transparent;
    background: #2ed06e;
}

.sc-career {
    position: relative;
    padding: 100px 0;
}

.sc-career .bg1 {
    z-index: -1;
    position: absolute;
    transform: translateY(-50%);
}

.sc-career .group-career .sc-tit {
    margin-bottom: 80px;
    font-size: 3.75rem;
}

.sc-career .group-career .career-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sc-career .group-career .career-list .bar {
    width: 100%;
    height: 2px;
    background: #000;
}

.sc-career .group-career .career-item:last-child {
    border-bottom: none;
}

.sc-career .group-career .career-item .link {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
}

.sc-career .group-career .career-item .link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #000;
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
}

.sc-career .group-career .career-item .link:hover::before {
    width: 100%;
}

.sc-career .group-career .career-item .info-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sc-career .group-career .career-item .info-box .skill {
    display: inline-block;
    padding: 8px 15px;
    font-size: 0.75rem;
    color: #000;
    background: #f4d450;
    border-radius: 30px;
}

.sc-career .group-career .career-item .info-box .year {
    font-size: .875rem;
    color: #858588;
}

.sc-career .group-career .career-item .desc-wrap {
    display: flex;
    justify-content: flex-end;
}

.sc-career .group-career .career-item .desc-wrap .desc {
    max-width: 500px;
    line-height: 150%;
    font-size: 1.125rem;
}

@media screen and (max-width: 1230px) {
    .sc-project .project-item .desc-box .desc br {
        content: initial;
    }
}

@media screen and (max-width: 960px) {
    .sc-home .text-area .main-tit {
        font-size: 5rem;
    }

    .sc-about {
        height: auto;
        padding-bottom: 40px;
    }

    .sc-about .group-about .sc-tit {
        margin-bottom: 40px;
    }

    .sc-about .group-about .text-area {
        width: 100%;
    }

    .sc-about .group-about .text-area .desc {
        max-width: 100%;
        font-size: 15px;
    }

    .sc-project .project-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 40px;
    }

    .sc-project .project-item {
        width: calc(100%/2 - 20px);
    }

    .sc-project .project-item .project-wrap {
        width: 100%;
    }

    .sc-project .project-item .desc-box .title {
        font-size: 1.7rem;
    }

    .sc-project .project-item .desc-box .desc {
        font-size: 1rem;
    }

    .sc-career .group-career .sc-tit {
        font-size: 3.5rem;
    }

    .sc-career .group-career .career-item .tit-wrap {
        margin-bottom: 10px;
    }

    .sc-career .group-career .career-item .desc-wrap .desc {
        max-width: 100%;
        font-size: 1rem;
    }

    .sc-career .group-career .career-item .link {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 768px) {
    .sc-project .project-item {
        width: 100%;
    }

    .sc-career .group-career .career-item .desc-wrap {
        justify-content: flex-start;
    }
}